form {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

input, select {
  min-width: 18rem;
  min-height: 1rem;
  padding: 0.25rem;
  font-size: 1rem;
}

select {
  cursor: pointer;
}
