.login {
  margin: 4rem 1rem;
  height: max-content;
  padding: 2rem 1.5rem;
  border-radius: 0.2rem;
  border: 2px solid var(--secondary-color);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login .link {
  margin-top: 0.5rem;
  text-align: center;
}

.login .loading {
  color: var(--secondary-color);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.login .loading-img {
  width: 1.5rem;
}

@media (max-height: 575px) {
  .login {
    margin: 1rem;
  }
}

@media (max-width: 450px) {
  .login {
    margin: 0.25rem;
    padding: 0.5rem;
  }
}
