.weather {
  align-self: stretch;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.weather form.search {
  grid-template: 1.2rem 2rem max-content / repeat(3, max-content);
  column-gap: 0.5rem;
  row-gap: 0;
}

.weather form.search .field {
  grid-row: 1 / span 3;
}

.weather form.search input {
  height: 2rem;
}

.weather form.search button {
  padding: 0.25rem 0.5rem;
}

.weather form.search button[type="submit"] {
  grid-row: 2;
  grid-column: 2;
}

.weather form.search button.show-settings {
  grid-row: 2;
  grid-column: 3;
}

.weather .loading {
  margin-top: 5rem;
  color: var(--secondary-color);
  font-size: 3rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.weather .loading-img {
  width: 5rem;
}

.weather .weather-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.weather .weather-body .main {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.weather .weather-body .main-img-container {
  width: 30vw;
  display: flex;
  justify-content: center;
}

.weather .weather-body .main-img {
  object-fit: cover;
  width: 30vw;
}

.weather .weather-body .main-info {
  font-size: 3rem;
}

.weather .weather-body .details {
  display: grid;
  grid-template: repeat(2, max-content) / repeat(2, max-content);
  justify-content: space-evenly;
  column-gap: 1rem;
}

.weather .weather-body .temperatures {
  grid-row: 1 / span 2;
}

.weather[data-weather='Sunny'] {
  background-color: var(--sunny-color);
  color: var(--sunny-font-color);
}

.weather[data-weather='Clouds'] {
  background-color: var(--cloud-color);
  color: var(--cloud-font-color);
}

.weather[data-weather='Foggy'],
.weather[data-weather='Dusty'] {
  background-color: var(--lowVis-color);
  color: var(--lowVis-font-color);
}

.weather[data-weather='Rain'] {
  background-color: var(--rain-color);
  color: var(--rain-font-color);
}

.weather[data-weather='Snow'] {
  background-color: var(--snow-color);
  color: var(--snow-font-color);
}

.weather[data-weather='Thunderstorm'] {
  background-color: var(--thunder-color);
  color: var(--thunder-font-color);
}
