.weather {
  min-height: 100vh;
  width: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.weather form.search {
  grid-template: 1.2rem 2rem max-content / repeat(3, max-content);
  column-gap: 0.5rem;
  row-gap: 0;
  justify-content: center;
}

.weather form.search .field {
  grid-row: 1 / span 3;
}

.weather form.search input {
  height: 2rem;
}

.weather form.search button {
  padding: 0.25rem 0.5rem;
}

.weather form.search button[type="submit"] {
  grid-row: 2;
  grid-column: 2;
}

.weather form.search button.show-settings {
  grid-row: 2;
  grid-column: 3;
}

.weather[data-weather='Sunny'] {
  background-color: var(--sunny-color);
  color: var(--sunny-font-color);
}

.weather[data-weather='Clouds'] {
  background-color: var(--cloud-color);
  color: var(--cloud-font-color);
}

.weather[data-weather='Foggy'],
.weather[data-weather='Dusty'] {
  background-color: var(--lowVis-color);
  color: var(--lowVis-font-color);
}

.weather[data-weather='Rain'] {
  background-color: var(--rain-color);
  color: var(--rain-font-color);
}

.weather[data-weather='Snow'] {
  background-color: var(--snow-color);
  color: var(--snow-font-color);
}

.weather[data-weather='Thunderstorm'] {
  background-color: var(--thunder-color);
  color: var(--thunder-font-color);
}
